{% extends "genre/layout.html.twig" %}
{% block title %}: ajout d'un genre{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Ajout d'un genre</h1>
    <p><b>Action 2:</b></p>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
    <p><a href="{{ path('cineland_genre_index') }}">Retour</a></p>
{% endblock %}