{% extends "genre/layout.html.twig" %}
{% block body %}
    {{ parent() }}
    <h1>Gestion des genres</h1>
    <p><b>Action 1:</b></p>
    {{ render(path('cineland_genre_list')) }}

    <p><b>Action 2:</b> <a href="{{ path('cineland_genre_ajouter') }}">Ajouter un genre</a></p>

    {% if acteur != null %}
    <h2>Résultat de la recherche:</h2>
    <p>Genres dans le(s) quel(s) {{ acteur }} a joué au moins {{ film_min }} film(s):</p>
    {% if genres|length > 0 %}
    <ul>
        {#
            Pour chaque genre, on affiche son nom et le nombre de film(s) joué(s)
        #}
        {% for g in genres %}
        <li>{{ g.nom }} ({{ g.nb }} film(s))</li>
        {% endfor %}
    </ul>
    {% else %}
    <b>Aucun genre trouvé</b>
    {% endif %}
    {% endif %}

    <h2>Rechercher les genre pour lesquels un acteur a joué un nombre minimum de film (Action 18)</h2>
    {{ form(formSearch) }}
{% endblock %}