{% extends "genre/layout.html.twig" %}
{% block title %}: {{ genre.nom }}{% endblock %}
{% block stylesheet %}
<style>
    td {
        padding-right: 20px;
    }
</style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Affichage du genre {{ genre.nom }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th colspan="2">Les films ({{ genre.films.count }})</th>
            </tr>
            <tr>
                <th>Titre du film</th>
                <th>Durée du film (en minutes)</th>
            </tr>
        </thead>
        <tbody>
            {% for film in genre.films %}
            <tr>
                <td>{{ film.titre }}</td>
                <td>{{ film.duree }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <td style="font-weight:bold;text-align:right;padding-right:1px;">Durée moyenne d'un film:</td>
            <td>{{ moyenne }}</td>
        </tfoot>
    </table>
    {# Le lien pour supprimé un genre ne s'affiche que si aucun film ne s'y ratache #}
    {% if genre.films.count == 0 %}
    <h3>Action 24 (supprimer un genre)</h4>
    <a href='{{ path('cineland_genre_supprimer', {id: genre.id}) }}'>Supprimer le genre</a>
    {% endif %}
    <p><a href="{{ path('cineland_genre_index') }}">Retour</a></p>
{% endblock %}