{% extends "film/layout.html.twig" %}
{% block title %}: ajout d'un film{% endblock %}
{% block body %}
    {{ parent() }}
    {{ formTitle|raw }}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.genre) }}
        {{ form_row(form.duree) }}
        {{ form_row(form.dateSortie) }}
        {{ form_row(form.note) }}
        {{ form_row(form.ageMinimal) }}
        {{ form_row(form.acteurs) }}
        {{ form_row(form.submit) }}   
    {{ form_end(form) }}
    {% if id is defined %}
    <p><a href="{{ path('cineland_film_voir', { id: id }) }}">Retour</a></p>
    {% else %}
    <p><a href="{{ path('cineland_film_index') }}">Retour</a></p>
    {% endif %}
{% endblock %}