{% extends "film/layout.html.twig" %}
{% block body %}
    {{ parent() }}
    <h1>Gestion des films</h1>
    
    {{ include('navigation.html.twig') }}

    {% if search %}
    <p><a href="{{ path('cineland_film_index') }}">Annuler la recherche</a></p>
    {% endif %}

    <p><b>Action 10:</b> <a href="{{ path('cineland_film_ajouter') }}">Ajouter un film</a></p>

    <h2>Recherche de films (actions 13, 14, 17, 25)</h2>
    {{ form(formSearch) }}
{% endblock %}