{% extends "film/layout.html.twig" %}
{% block title %}: {{ film.titre }}{% endblock %}
{% block stylesheet %}
<style>
    td {
        padding-right: 20px;
    }
</style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Affichage d'un film (Action 9)</h1>
    <table>
        <thead>
            <th colspan="2">Informations</th>
        </thead>
        <tbody>
            <tr>
                <td>Titre: </td>
                <td>{{ film.titre }}<td>
            </tr>
            <tr>
                <td>Genre: </td>
                <td>{{ film.genre }}</td>
            </tr>
            <tr>
                <td>Durée: </td>
                <td>{{ film.duree }} min</td>
            </tr>
            <tr>
                <td>Date de sortie: </td>
                <td>{{ film.dateSortie|date('d/m/Y') }}<td>
            </tr>
            <tr>
                <td>Note: </td>
                <td>{{ film.note }}/20</td>
            </tr>
            <tr>
                {{ form_start(form) }}
                    <td>{{ form_row(form.noteDecrease) }}</td>
                    <td>{{ form_row(form.noteIncrease) }}</td>
                {{ form_end(form) }}
            </td>
            <tr>
                <td>Age minimal: </td>
                <td>{{ film.ageMinimal }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('film/acteurs.list.html.twig') }}
    <p><b>Action 11:</b> <a href="{{ path('cineland_film_modifier', { id: film.id }) }}">Modifier le film</a></p>
    <p><b>Action 12:</b> <a href="{{ path('cineland_film_supprimer', { id: film.id }) }}">Supprimer le film</a></p>
    <p><a href="{{ path('cineland_film_index') }}">Retour</a></p>
{% endblock %}