{% extends "layout.html.twig" %}
{% block title %}: Accueil{% endblock %}
{% block body %}
    <h1>Bienvenue sur l'accueil de cineland !</h1>
    <p>Menu:</p>
    <ul>
        <li><b><a href="{{ path('cineland_genre_index') }}">Les genres (Actions 1, 2, 18, 22, 24)</a></b></li>
        <li><b><a href="{{ path('cineland_acteur_index') }}">Les acteurs (Actions 3, 4, 5, 6, 7, 15, 16, 19, 20, 21, 26)</a></b></li>
        <li><b><a href="{{ path('cineland_film_index') }}">Les films (Actions 8, 9, 10, 11, 12, 13, 14, 17, 23, 25)</a></b></li>
    </ul>
{% endblock %}