<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cineland{% block title %}{% endblock %}</title>
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        {% for message in app.session.flashbag.get('success') %}
            <span style="color:green;font-weight:bold;display:block;">{{ message }}</span>
        {% endfor %}
        {% for message in app.session.flashbag.get('errors') %}
            <span style="color:red;font-weight:bold;display:block;">{{ message }}</span>
        {% endfor %}
        {% block body %}{% endblock %}
        <footer style="margin-top:40px;text-align:center;">
            Petit projet d'étude UE « Framework », <br />
            Chekalil--Boulanger Mehdy & Bouguedour Yacine
        </footer>
    </body>
</html>