<h2><b>{{ data_title }} :</b></h2>
<ul>
    {% if data|length > 0 %}
    {% for d in data %}
    {# Si on a une route pour voir l'entité, on l'utilise, sinon on affiche juste #}
    {% if routeSee is defined %}
    <li><a href="{{ path(routeSee, { id: d.id }) }}">{{ d }}</a></li>
    {% else %}
    <li>{{ d }}</li>
    {% endif %}
    {% endfor %}
    {% else %}
    <b>Aucune données</b>
    {% endif %}
</ul>