{% extends "acteur/layout.html.twig" %}
{% block title %}: ajout d'un acteur{% endblock %}
{% block body %}
    {{ parent() }}
    {{ formTitle|raw }}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.nomPrenom) }}
        {{ form_row(form.dateNaissance) }}
        {{ form_row(form.nationalite) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
    {% if id is defined %}
    <p><a href="{{ path('cineland_acteur_voir', { id: id }) }}">Retour</a></p>
    {% else %}
    <p><a href="{{ path('cineland_acteur_index') }}">Retour</a></p>
    {% endif %}
{% endblock %}