{% extends "acteur/layout.html.twig" %}
{% block body %}
    {{ parent() }}
    <h1>Gestion des acteurs</h1>
    <p><b>Action 3:</b></p>
    {{ include('navigation.html.twig') }}
    <p><b>Action 5:</b> <a href="{{ path('cineland_acteur_ajouter') }}">Ajouter un acteur</a></p>
    <p><a href="{{ path('cineland_list_acteurs', { searchType: 'films' }) }}"><b>Action 20:</b> Voir les acteurs et leurs films dans l'ordre chronologique</a></p>
    <p><a href="{{ path('cineland_list_acteurs', { searchType: 'genres' }) }}"><b>Action 21:</b> Voir les acteurs et les genres de film dans les quels ils ont joué</a></p>
    <h2>Recherche d'acteurs (actions 15, 16)</h2>
    {{ form(formSearch) }}
{% endblock %}