{% extends "acteur/layout.html.twig" %}
{% block body %}
    {{ parent() }}
    <h1><b>Action 20:</b> Voir les acteurs et leurs films dans l'ordre chronologique</a></h1>
    <ul>
    {% for d in data %}
        <li>
            <b>{{ d.title }}:</b>
            <ul>
                {% for i in d.list %}
                    <li>{{ i }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    <p><a href="{{ path('cineland_acteur_index') }}">Retour acteurs</a></p>
{% endblock %}