{% extends "acteur/layout.html.twig" %}
{% block title %}: {{ acteur.nomPrenom }}{% endblock %}
{% block stylesheet %}
<style>
    td {
        padding-right: 20px;
    }
</style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Affichage d'un acteur (Action 4)</h1>
    <table>
        <thead>
            <th colspan="2">Informations</th>
        </thead>
        <tbody>
            <tr>
                <td>Nom & Prénom: </td>
                <td>{{ acteur.nomPrenom }}<td>
            </tr>
            <tr>
                <td>Date de naissance: </td>
                <td>{{ acteur.dateNaissance|date('d/m/Y') }}<td>
            </tr>
            <tr>
                <td>Nationalité: </td>
                <td>{{ acteur.nationalite }}<td>
            </tr>
        </tbody>
    </table>
    <h2>Film(s)</h2>
    <ul>
        {% for film in acteur.films %}
        <li><a href="{{ path('cineland_film_voir', { id: film.id }) }}">{{ film }}</a></li>
        {% endfor %}
    </ul>
    <p><a href="{{ path('cineland_acteur_films', { id: acteur.id }) }}"><b>(Action 19):</b> Voir les films joués et leurs durées</a></p>
    <p><b>Action 6:</b> <a href="{{ path('cineland_acteur_modifier', { id: acteur.id }) }}">Modifier l'acteur</a></p>
    <p><b>Action 7:</b> <a href="{{ path('cineland_acteur_supprimer', { id: acteur.id }) }}">Supprimer l'acteur</a></p>
    <h3>Action 26: Augmenter (Diminuer) l'age des films de l'acteur</h3>
    {{ form(formAge) }}
    <p><a href="{{ path('cineland_acteur_index') }}">Retour acteurs</a></p>
{% endblock %}