{% extends "acteur/layout.html.twig" %}
{% set total_duree = 0 %}
{% block title %}: Films de {{ acteur.nomPrenom }}{% endblock %}
{% block stylesheet %}
<style>
    td {
        padding-right: 20px;
    }
</style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Affichage des films d'un acteur et la durée (Action 19)</h1>
    <table>
        <thead>
            <th colspan="2">Informations</th>
        </thead>
        <tbody>
            <tr>
                <td>Nom & Prénom: </td>
                <td>{{ acteur.nomPrenom }}<td>
            </tr>
            <tr>
                <td>Date de naissance: </td>
                <td>{{ acteur.dateNaissance|date('d/m/Y') }}<td>
            </tr>
            <tr>
                <td>Nationalité: </td>
                <td>{{ acteur.nationalite }}<td>
            </tr>
        </tbody>
    </table>
    <h2>Film(s)</h2>
    <table border='1'>
        <thead>
            <tr><th>Titre du film</th><th>Durée en minutes</th></tr>
        </thead>
        <tbody>
        {% for film in acteur.films %}
        {# En incrémente le compteur de durée  à chaque itération de film pour l'affiché à la fin #}
        {% set total_duree = total_duree + film.duree %}
        <tr>
            <td><a href="{{ path('cineland_film_voir', { id: film.id }) }}">{{ film }}</a></td>
            <td>{{ film.duree }}</td>
        </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <th style="text-align:right;">Total:</th>
                <th>{{ total_duree }}</th>
            </tr>
        </tfoot>
        </tbody>
    </table>
    <p><a href="{{ path('cineland_acteur_voir', { id: acteur.id }) }}">Retour à l'acteur</a></p>
{% endblock %}